In [74]:
"""
Q1. List any five functions of the pandas library with execution.
Ans :
1. head(): head() returns the FIRST n rows of a DataFrame. By default, it returns the FIRST 5 rows.

2. tail(): tail() returns the LAST n rows of a DataFrame. By default, it returns the LAST 5 rows.

3. describe() : describe() returns a summary of the numerical features in a DataFrame. It includes the count, mean, standard deviation, minimum, 25th percentile, 50th percentile (median), 75th percentile, and maximum.

4. info() : info() returns column data type and number of not null value count

5. value_counts(): value_counts() returns the number of times each unique value in a Series appears.

"""
#1. head ()
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [75]:
#2. tail()
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [76]:
#describe()
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [77]:
#info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [79]:
#value_count
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [98]:
"""
Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.
"""
import pandas as pd
import numpy as np
def reindex_dataframe(df):
  df.index = list(range(1,len(df)*2, 2))
  return df

df1 = pd.DataFrame({'A':[i for i in np.random.randint(1,10, 10)], 'B':[i for i in np.random.randint(1,10, 10)], 'C':[i for i in np.random.randint(1,10, 10)]})
print(df1)

df1 = reindex_dataframe(df1)
df1

   A  B  C
0  6  8  9
1  4  1  7
2  6  7  2
3  2  5  2
4  4  9  8
5  4  5  9
6  2  9  4
7  5  2  5
8  6  5  9
9  6  7  1

    A  B  C
1   6  8  9
3   4  1  7
5   6  7  2
7   2  5  2
9   4  9  8
11  4  5  9
13  2  9  4
15  5  2  5
17  6  5  9
19  6  7  1

In [103]:
"""
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

"""
import pandas as pd
def find_sum(df):
  result = 0
  for i in range(3):
    result += df['Values'].iloc[i]
  print( result)

df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
find_sum(df)

60

In [107]:
"""
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.
"""
df = pd.DataFrame({'Text': ['Aniket', 'Ram', 'Sham',' Tom', 'Test123', 'Abcdefg' , 'X', 'YZ']})
print(df)
df ['Word_Count'] = [len(i) for i in df['Text'].values]
print(df)

      Text
0   Aniket
1      Ram
2     Sham
3      Tom
4  Test123
5  Abcdefg
6        X
7       YZ
      Text  Word_Count
0   Aniket           6
1      Ram           3
2     Sham           4
3      Tom           4
4  Test123           7
5  Abcdefg           7
6        X           1
7       YZ           2

In [110]:
"""
Q5. How are DataFrame.size() and DataFrame.shape() different?
Ans :
The DataFrame.size() method returns the total number of elements in the DataFrame, which is the product of the number of rows and columns.
For example, if a DataFrame has 10 rows and 5 columns, then the DataFrame.size() method will return 50.

The DataFrame.shape() method returns a tuple of the number of rows and columns in the DataFrame.
For example, if a DataFrame has 10 rows and 5 columns, then the DataFrame.shape() method will return the tuple (10, 5).
"""
print(df.size)
print(df.shape)

16
(8, 2)

In [ ]:
"""
Q6. Which function of pandas do we use to read an excel file?
Ans : read_excel function is used to read an excel file
Example:

import pandas as pd
pd.read_excel('filename.xlsx')

The read_excel() function has a few other optional arguments that can be used to customize the way the Excel file is read. For example, the
sheet_name argument can be used to specify the sheet name to read.
header argument can be used to specify the row that contains the column headers.
delimiter argument can be used to specify the delimiter used to separate the columns in the Excel file.

"""

In [116]:
"""
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.
"""
df = pd.DataFrame({'Email':['tushar@domain.com', 'john.doe@example.com', 'john.cena@gmail.com', 'user1@gmail.com', 'aniket@gmail.com', 'pwskills@gmail.com']})
print(df)
df['Username'] = [i.split('@')[0] for i in df['Email']]
print(df)

                  Email
0     tushar@domain.com
1  john.doe@example.com
2   john.cena@gmail.com
3       user1@gmail.com
4      aniket@gmail.com
5    pwskills@gmail.com
                  Email   Username
0     tushar@domain.com     tushar
1  john.doe@example.com   john.doe
2   john.cena@gmail.com  john.cena
3       user1@gmail.com      user1
4      aniket@gmail.com     aniket
5    pwskills@gmail.com   pwskills

In [121]:
"""
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

"""
def select_rows(df):
  new_df = df.loc[(df['A'] > 5) & (df['B'] < 10)]

  return new_df


df = pd.DataFrame({
  'A': [3, 8, 6, 2, 9],
  'B': [5, 2, 9, 3, 1],
  'C': [1, 7, 4, 5, 2],
})

new_df = select_rows(df)

print(new_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [134]:
"""
Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.
"""
df = pd.DataFrame({'Values': list(range(100))})
df.head()

def calc(df):
  print('mean : ', (df['Values'].mean()))
  print('median : ', (df['Values'].median()))
  print('standard deviation : ', (df['Values'].std()))

calc(df)

mean :  49.5
median :  49.5
standard deviation :  29.011491975882016

In [138]:
"""
Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.
"""
import pandas as pd
import numpy as np
sales = []
dates = []
for i in range(100):
  sales.append(np.random.randint(100, 1000))
  dates.append(pd.to_datetime('2023-01-01') + pd.Timedelta(days=i))

df = pd.DataFrame({
  'Sales': sales,
  'Date': dates,
})
df.head()

def moving_avg(df):
  df['MovingAverage'] = df['Sales'].rolling(7).mean()
  return df
df = moving_avg(df)
df.head(15)

    Sales       Date  MovingAverage
0     516 2023-01-01            NaN
1     652 2023-01-02            NaN
2     815 2023-01-03            NaN
3     419 2023-01-04            NaN
4     253 2023-01-05            NaN
5     815 2023-01-06            NaN
6     799 2023-01-07     609.857143
7     102 2023-01-08     550.714286
8     238 2023-01-09     491.571429
9     754 2023-01-10     482.857143
10    189 2023-01-11     450.000000
11    358 2023-01-12     465.000000
12    593 2023-01-13     433.285714
13    414 2023-01-14     378.285714
14    611 2023-01-15     451.000000

In [143]:
"""
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

"""
from datetime import datetime
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
df
def weekday(df):
  df ['Weekday'] = [datetime.strptime(i, '%Y-%m-%d').strftime('%A') for i in df['Date']]
  return df
df = weekday(df)
df

         Date    Weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

In [150]:
"""
Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.
"""

df = pd.DataFrame({'Date': pd.to_datetime(['2023-01-01', '2023-01-02', '2023-02-01', '2023-01-31', '2023-02-25']),})

def get_data(df):
  return df[(df['Date'] >=  pd.to_datetime('2023-01-01')) & (df['Date'] <= pd.to_datetime('2023-01-31'))]
get_data(df)

        Date
0 2023-01-01
1 2023-01-02
3 2023-01-31

In [152]:
"""
Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?
Ans : pandas library must be imported to use the basic functions of pandas
"""
import pandas as pd