In [3]:
"""
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
"""
import pandas as pd
ser = pd.Series([4,8,15,16,23,42])
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
"""
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.
"""
l1 = [1,2,3,4,5,6,7,8,9,10]
ser = pd.Series(l1)
print(ser)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [22]:
"""
Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.
"""
import pandas as pd
cols = ['Name', 'Age', 'Gender']
data = [
        ['Alice', 25, 'Female'],
        ['Bob', 30, 'Male'],
        ['Claire', 75, 'Female']
        ]
df = pd.DataFrame(data, columns = cols)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   75  Female

In [12]:
"""
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Ans :
A DataFrame in pandas is a two-dimensional tabular data structure with labeled axes.
DataFrames are commonly used to store and manipulate tabular data, such as data from spreadsheets, databases, and surveys.

A Series in pandas is a one-dimensional labeled array. It is a single column of a DataFrame.
Series are commonly used to store and manipulate tabular data that has a single dimension.

The main differences between DataFrames and Series are:

1. Dimensions: A DataFrame is two-dimensional, while a Series is one-dimensional.
2. Labels: A DataFrame has both row and column labels, while a Series only has row labels.
3. Heterogeneity: A DataFrame can have columns with different data types, while a Series must have all of its data in the same data type.
4. Size mutability: The size of a DataFrame can be changed by adding or dropping rows or columns, while the size of a Series cannot be changed.
"""
import pandas as pd
# Create a DataFrame
df = pd.DataFrame({'Name': ['Bam', 'Sham', 'Ram'], 'Age': [30, 25, 40]})

# Create a Series
s = pd.Series([30, 25, 40], name='Age')
print('Dataframe : ')
print(df)
print('\nSeries : ')
print(s)

Dataframe :
   Name  Age
0   Bam   30
1  Sham   25
2   Ram   40

Series :
0    30
1    25
2    40
Name: Age, dtype: int64

In [37]:
"""
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
Ans :
1. replace: This function is used to replace a specific value in a DataFrame with another value.
    For example, you could use df.replace('John Doe', 'Jane Doe') to replace all instances of John Doe with Jane Doe in a DataFrame.
2. drop: This function is used to drop a row or column from a DataFrame.
    For example, you could use df.drop('Name', axis=1) to drop the Name column from a DataFrame.
3. rename: This function is used to rename a row or column in a DataFrame.
    For example, you could use df.rename(columns={'Name': 'First Name'}, inplace=True) to rename the Name column to First Name in a DataFrame.
4. append: This function is used to append a row or column to a DataFrame.
    For example, you could use df.append({'Name': 'John Smith', 'Age': 35}, ignore_index=True) to append a new row to a DataFrame.
5. merge: This function is used to merge two DataFrames together.
    For example, you could use pd.merge(df1, df2, on='Name') to merge two DataFrames together based on the Name column.
"""
print(df)
df1 = df.replace('Alice', 'ALICE')
print(df1)

df2 = df.drop('Name', axis = 1)
print(df2)

df3 = df.rename(columns={'Name': 'First Name'})
print(df3)

df4 = df.append({'Name': 'John Smith', 'Age': 35},ignore_index=True)
print(df4)

df5 = pd.merge(df, df4, on='Name')
print(df5)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   75  Female
     Name  Age  Gender
0   ALICE   25  Female
1     Bob   30    Male
2  Claire   75  Female
   Age  Gender
0   25  Female
1   30    Male
2   75  Female
  First Name  Age  Gender
0      Alice   25  Female
1        Bob   30    Male
2     Claire   75  Female
         Name  Age  Gender
0       Alice   25  Female
1         Bob   30    Male
2      Claire   75  Female
3  John Smith   35     NaN
     Name  Age_x Gender_x  Age_y Gender_y
0   Alice     25   Female     25   Female
1     Bob     30     Male     30     Male
2  Claire     75   Female     75   Female

<ipython-input-37-3f1a5bce43d4>:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df4 = df.append({'Name': 'John Smith', 'Age': 35},ignore_index=True)

In [ ]:
"""
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans :

All Pandas data structures are value-mutable (the values they contain can be altered) but not always size-mutable.
Series: A Series is a one-dimensional labeled array. It is a single column of a DataFrame. Series are value-mutable, but size-immutable. This means that you can change the values in a Series, but you cannot add or remove rows from a Series.
DataFrame: A DataFrame is a two-dimensional tabular data structure with labeled axes. It is a collection of Series objects, each of which is a one-dimensional array. DataFrames are value-mutable, but size-mutable. This means that you can change the values in a DataFrame, and you can add or remove rows or columns from a DataFrame.
Panel: A Panel is a three-dimensional tabular data structure with labeled axes. It is a collection of DataFrames, each of which is a two-dimensional array. Panels are value-mutable, but size-mutable. This means that you can change the values in a Panel, and you can add or remove rows or columns from a Panel.
"""

In [40]:
"""
Q7. Create a DataFrame using multiple Series. Explain with an example.
"""

ser1 = pd.Series(['Ram', 'Sham' , 'Tom'])
ser2 = pd.Series([10, 20, 30])

df = pd.DataFrame({'Name' : ser1, 'Age' : ser2})
df

   Name  Age
0   Ram   10
1  Sham   20
2   Tom   30